body{
    background: linear-gradient(270deg, rgb(53, 50, 50), white);
    display: flex;
    justify-content: center;  
    font-family: Abel;
    margin-top: 60px;
}
input{
    width: 497px;
    height: 50px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 30px;

}
.white{
    width: 500px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
}
.white2{
    width: 500px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.black{
    width: 500px;
    height: 150px;
    background-color: rgb(36, 34, 34);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 0 0 20px 20px;
}
.temp{
    width: 25%;
    height: 80px;
    color: gray;
    font-size: 75px;
    text-align: center;
}
.weather-city{
    width: 55%;
    height: 80px;
    color: rgb(128, 125, 125);
    font-size: 30px;
}
.weather{ 
    font-size: 40px;
}
.date{
    width: 20%;
    height: 80px;
    background-color:rgb(0, 119, 255) ;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.black img{
    height: 25px;
    width: 25px;   
    display: flex; 
}
@media (max-width: 550px) {
    
    input{
        width: 400px;
    }
    .white {
      height: 250px;
      width: 400px;
     
    }
    .white img {
      height: 125px;
    }
    .temp {
      font-size: 50px;
    }
    .weather-city {
      font-size: 20px;
    }
    .date {
      font-size: 20px;
      height: 60px;
    }
    .white2 {
        width: 400px;
     
    }
    .black {
    width: 400px;
      height: 100px;
     
    }
  }
  